<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrt.cloud.app.device.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hrt.cloud.app.device.domain.entity.Device">
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="deleted" property="deleted" />
        <result column="product_id" property="productId" />
        <result column="device_id" property="deviceId" />
        <result column="dev_name" property="devName" />
        <result column="chan_max" property="chanMax" />
        <result column="chan_num" property="chanNum" />
        <result column="dev_status" property="devStatus" />
        <result column="lock_dev" property="lockDev" />
        <result column="descriptions" property="descriptions" />
    </resultMap>

</mapper>
